@{
    ViewData["Title"] = "Ticket";
}

<div id="ticket">
    <div class="row">
        @foreach (var ticket in Model)
        {
            <div class="col-12 col-md-4 col-lg-3">
                <a asp-area="" asp-controller="My Tickets" aps-action="Index" class="card">
                    <img class="card-img-top" src="@ticket.Image" alt="@ticket.Name" />
                    <div class="card-body">
                        <p class="card-text">@ticket.Name</p>
                        <div class="performances">
                            @foreach (var performance in ticket.Performances)
                            {
                                <span class="performance">@performance.startTime.ToString("HH:mm"): @performance.Hall.Name</span>
                            }
                        </div>
                    </div>
                    </a>
            </div>
        }
    </div>
</div>
